<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/static/index/css/main.css" />
    <script src="/static/index/js/jquery.min.js"></script>
    <script src="/static/index/js/main.js"></script>
    <title>详情</title>

    <link href="/static/index/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/index/css/common.css" media="screen, projection" />
    <script src="/static/index/js/jquery.min.js"></script>
    <script src="/static/index/js/main.js"></script>
    <script src="/static/plugs/layui/layui.all.js"></script>

</head>
<body style="background-color: #EAEDF1">

<header style="text-align: center;font-size: 16px">
    <i class="iconfont fl" onclick="javascript:history.go(-1);"></i> 详情
</header>
<div class="detail">
    <div class="turn rlt" style="padding: 5px;border-bottom: 1px dashed #ddd;">
        <img class="head" src="/static/index/images/p1.jpg" alt=""/>
    </div>
    <div class="attr">
        <h3>您的留言</h3>
        <div class="tr clearfix">
            <div class="td td1 fl">请输入您的留言：</div>
            <div contenteditable="true"></div>
        </div>

    </div>
</div>

<div class="publish">
    <a href="javascript:" class="rent">提交</a>
</div>


</body>
</html>