<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/static/index/css/main.css" />
    <script src="/static/index/js/jquery.min.js"></script>
    <script src="/static/index/js/main.js"></script>
    <title>详情</title>

    <link href="/static/index/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/index/css/common.css" media="screen, projection" />
    <script src="/static/index/js/jquery.min.js"></script>
    <script src="/static/index/js/main.js"></script>
    <script src="/static/plugs/layui/layui.all.js"></script>

</head>
<body style="background-color: #EAEDF1">

<header style="text-align: center;font-size: 16px">
    <i class="iconfont fl" onclick="javascript:history.go(-1);"></i> 详情
</header>
<div class="detail">
    <div class="turn rlt" style="padding: 5px;border-bottom: 1px dashed #ddd;">
        <img class="head" src="/static/index/images/p1.jpg" alt=""/>
    </div>
    <div class="attr">
        <h3>评论：</h3>
        <div class="tr clearfix">
            <div class="td ">游客</div>
            <div class="td">这是一个什么东西的的。。。</div>
        </div>

        <div class="tr clearfix">
            <div class="td ">游客</div>
            <div class="td">这是一个什么东西的的。。。</div>
        </div>

        <div class="tr clearfix">
            <div class="td ">游客</div>
            <div class="td">这是一个什么东西的的。。。</div>
        </div>

        <div class="tr clearfix">
            <div class="td ">游客</div>
            <div class="td">这是一个什么东西的的。。。</div>
        </div>

        <div class="tr clearfix">

                <textarea  id="content" placeholder="请输入您的评论" style="overflow: hidden;height: 60px; width: 100%; margin-top: 10px;"></textarea>

        </div>

    </div>
</div>


<div class="publish">
    <a  class="rent" data-url="">提交</a>
</div>

<script>
    $('.rent').click(function(){
     layer.msg('hello world');
    })
</script>


</body>
</html>