<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/static/index/css/main.css" />
    <script src="/static/index/js/jquery.min.js"></script>
    <script src="/static/index/js/main.js"></script>
    <title>详情</title>

    <link href="/static/index/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/index/css/common.css" media="screen, projection" />
    <script src="/static/index/js/jquery.min.js"></script>
    <script src="/static/plugs/layui/layui.all.js"></script>

</head>
<body style="background-color: #EAEDF1">

<header style="text-align: center;font-size: 16px">
    <i class="iconfont fl" onclick="javascript:history.go(-1);"></i> 详情
</header>
<div class="detail">
    <div class="turn rlt" style="padding: 5px;border-bottom: 1px dashed #ddd;">
        <img class="head" src="{$info.imgs}" alt=""/>
    </div>
    <div class="attr">
        <h3>评论列表：</h3>
        {volist name='message' id='vo'}
        <div class="tr clearfix">
            <div class="td ">评论人：{:substr_replace($names[$vo['mid']],'****','3','4')}</div>
            <div class="td">内容：{$vo.content}</div>
        </div>

        {/volist}


        <div class="tr clearfix">

                <textarea  id="content" placeholder="请输入您的评论" style="overflow: hidden;height: 60px; width: 100%; margin-top: 10px;"></textarea>

        </div>

        <input type="hidden" id="mid" value="{$Think.session.member.id}">
        <input type="hidden" id="hid" value="{$info.id}">

    </div>
</div>


<div class="publish">
    <a  class="rent mess" >提交评论</a>
</div>

<script>
    $('.mess').click(function(){
       var data     = {};
       data.hid      =  $('#hid').val();
       data.mid      =  $('#mid').val();
       data.content  =  $('#content').val();

       if(data.content == '' || data.content == undefined){
          layer.msg('请输入评论内容！');
          return;
       }
       var url = "{:url('index/tmessage')}";

       $.post(url,data,function(ret){
             if(ret.code == 200){
               layer.msg(ret.msg,function(){
                   parent.location.reload();
               })
             };

           if(ret.code == 400){
               layer.msg(ret.msg,function(){
                   parent.location.reload();
               })
           };

       },'json')

    })
</script>


</body>
</html>