<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/static/index/css/main.css" />

    <link href="/static/index/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/index/css/common.css" media="screen, projection" />
    <script src="/static/index/js/jquery.min.js"></script>
    <script src="/static/plugs/layui/layui.all.js"></script>


    <title>互动</title>
</head>
<body>
<div class="wrap">

    <div class="main">
        <div class="list-wrap">
            <div class="list">
                <a href="{:url('index/hu')}">
                    <div class="turn rlt">
                        <img class="head" src="/static/index/images/p1.jpg" alt="" />
                    </div>
                </a>
                <div class="info">
                    <a href="{:url('index/hu')}">
                        <p class="clearfix">
                            <span class="salary fr">发布人：<span>张三分</span></span>
                        </p>
                    </a>
                </div>
            </div>

            <div class="list">
                <a href="{:url('index/hu')}">
                <div class="turn rlt">
                    <img class="head" src="/static/index/images/p1.jpg" alt="" />
                </div>
                </a>

                <div class="info">
                    <a href="{:url('index/hu')}">
                        <p class="clearfix">
                            <span class="salary fr">发布人：<span>张无忌</span></span>
                        </p>
                    </a>
                </div>
            </div>

        </div>

        <a href="javascript:" class="more">加载更多</a>

    </div>
</div>

<!-- 底部导航栏-->
<div class="container-fluid" style="text-align:center;padding-left:auto;padding-right:auto;">
    <nav class="navbar navbar-default navbar-fixed-bottom" style="background-color: #9c9ce0;">
        <div class="row">

            <div class="col-xs-3" style="width: 20%;">
                <div class="center-common">
                    <a href="{:url('index/index')}" style="color:#FFFFFF;font-size:13px;">
                        <div class="img-common">
                            <img class="banner-img" src="/static/index/images/home.png"></div>升级
                    </a>
                </div>
            </div>


            <div class="col-xs-3" style="width: 20%;">
                <div class="center-common">
                    <a href="{:url('member/pi')}" style="color:#FFFFFF;font-size:13px;">
                        <div class="img-common"><img class="banner-img" src="/static/index/images/pz.png"></div>批准
                    </a>
                </div>
            </div>

            <div class="col-xs-3" style="width: 20%;">
                <div class="center-common">
                    <a href="{:url('index/tui')}" style="color:#FFFFFF;font-size:13px;">
                        <div class="img-common"><img class="banner-img" src="/static/index/images/list.png"></div>互动
                    </a>
                </div>
            </div>

            <div class="col-xs-3" style="width: 20%;">
                <div class="center-common">
                    <a href="{:url('index/gui')}" style="color:#FFFFFF;font-size:13px;">
                        <div class="img-common"><img class="banner-img" src="/static/index/images/wf.png"></div>推广
                    </a>
                </div>
            </div>

            <div class="col-xs-3" style="width: 20%;">
                <div class="center-common">
                    <a href="{:url('member/index')}" style="color:#FFFFFF;font-size:13px;">
                        <div class="img-common"><img class="banner-img" src="/static/index/images/my.png"></div>我的
                    </a>
                </div>
            </div>


        </div>
    </nav>
</div>


</body>
</html>