
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>VIP系统 - 登录系统</title>
    <meta name="keywords" content="VIP系统 - VIP系统" />
    <meta name="description" content="VIP系统 - VIP系统" />
    <!-- Bootstrap -->
    <link href="/static/index/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/index/css/common.css" media="screen, projection" />
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="/static/index/js/jquery.min.js"></script>
</head>
</head>
<body style="background: url(/static/index/images/pag.jpg) no-repeat;background-size: 200%, 100%;">
<div class="container-fluid">
    <form action="./index.php?i=1&c=entry&op=login&do=index&m=jiexi_aaa" method="post">
        <div class="row clearfix">
            <div class="col-xs-12">
                <div class="thumbnail hdiv-common" style="margin-right:-15px;margin-left:-15px;height:418px;text-align:center;background: url(../addons/jiexi_aaa/template/mobile/image/pag.jpg) no-repeat;background-size: 200%, 100%;">
                    <div style="margin-top:35px;"><img src="/static/index/images/default.jpg" alt="头像" class="img-circle" style="width:100px;height:100px;"></div>
                    <div style="margin-top:30px;"><input type="text" name="mobile" class="formdd-control" placeholder="请输入手机号" style="width:80%;margin:0 auto;"></div>

                    <div style="margin-top:30px;"><input type="password" name="password" class="formdd-control" placeholder="请输入您的密码" style="width:80%;margin:0 auto;"></div>

                    <div style="margin-top:25px;"><button type="submit" class="btn bold-common" style="background:#00D13D;width:80%;color:#FFFFFF;height:55;font-size:16px;"id="click-safe">&nbsp; &nbsp; 登陆系统 &nbsp; &nbsp;</button></div>

                    <!--<div style="margin-top:25px;"> <div class="btn bold-common" style="background:#dfdfdf;width:80%;height:55;font-size:16px;"><a style="color:red" href="./index.php?i=1&c=entry&op=reg&do=index&m=jiexi_aaa">没有账号，先去注册</a> </div> -->


                    <!-- 					<p style="color:#f60"></p>
                     -->				</div>


                <!-- 					<p style="color:#f60"></p>
                 -->


                <p style="margin-top:18px;font-size:16px;text-align:center;color:#555;font-weight:bold;">【鲜海汇商城】 版权所有

                </p></div>

        </div>


</div>
</div>
<p style="margin-top:18px;font-size:16px;text-align:center;color:#555;font-weight:bold;">
    <a href="/"style="color:red;text-decoration:none;" ></a>
<p style="margin-top:18px;font-size:16px;text-align:center;color:#555;font-weight:bold;">
    </form>
    <footer class="footer">
<p>&nbsp;</p>
</footer>
<script>;</script>

</body>
</html>


