<!DOCTYPE html>
<html>
<head>
    <title>登陆页面</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">

    <link href="/static/index/css/login.css" type="text/css" rel="stylesheet">
    <link href="/static/index/css/global.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="/static/index/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/plugs/layui/layui.all.js"></script>
</head>
<body>
<div class="login">
    <div class="login-title"><p>登录</p>
        <i></i>
    </div>
    <form method="post" action="">
        <div class="login-bar">
            <ul>
                <li>
                    <img data-cfsrc="images/login_user.png" style="display:none;visibility:hidden;">
                    <img src="/static/index/images/login_user.png">
                    <input type="text" id="user" class="text" placeholder="请输入用户名" /></li>
                <li><img data-cfsrc="/static/index/images/login_pwd.png" style="display:none;visibility:hidden;">
                    <img src="/static/index/images/login_pwd.png">
                    <input type="password" class="psd" id="pwd" placeholder="请输入确认密码" /></li>
            </ul>
        </div>
        <div class="login-btn">
            <button class="submit log" type="button" >登陆</button>
            <a href="{:url('login/reg')}"><div class="login-reg"><p>没有账号，先注册</p></div></a>
        </div>
    </form>

    <div style="text-align:center;">
        <p style="margin-top:40px;font-size:16px;text-align:center;color:#555;font-weight:bold;">【鲜海汇商城】 版权所有

        </p>
    </div>

</div>


</body>
</html>

<script>
    $('.log').click(function(){
       var data = {};

       data.user = $('#user').val();
       data.pwd  = $('#pwd').val();

       if(data.user == '' || data.user == undefined){
           layer.msg('用户名不能为空');
           return false;
       }

       if(data.pwd == '' || data.pwd== undefined){
           layer.msg('请输入用户密码');
           return false;
       }

       var url = "{:url('login/login')}" ;
       $.post(url,data,function(ret){
             if(ret.code == 200){
                 layer.msg(ret.msg,function(){
                     parent.location.href="{:url('index/index')}";
                 });
             }

             if(ret.code == 401){
                 layer.msg(ret.msg);
                 return ;
             }

             if(ret.code == 400){
                 layer.msg(ret.msg);
                 return ;
             }
       },'json')
    })
</script>