<!DOCTYPE html>
<html>
<head>
    <title>注册页面</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <link href="/static/index/css/register.css" type="text/css" rel="stylesheet">
    <link href="/static/index/css/global.css" type="text/css" rel="stylesheet">

    <script type="text/javascript" src="/static/index/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/plugs/layui/layui.all.js"></script>
</head>
<body>
<div id="layout">
    <span>账号注册</span>
    <form method="post">
        <ul>
            <p id="err_msg"></p>
            <li><i class="un">
                <img src="/static/index/images/user_name.png">
            </i><input class="username"  id='orderNo' type="text" placeholder="请输入推荐人编号 选填"/></li>
            <li><i class="yz">
              <img src="/static/index/images/user_name.png">
            </i>
                <input class="yzm"  id='user' type="text" placeholder="请输入手机号" onblur="check_user()"/>
            </li>
            <li><i class="pw">
               <img src="/static/index/images/pwd.png">
            </i><input class="pwd" id="pwd" type="password" placeholder="请输入密码"/>
            </li>
            <li><i class="pw2">
                <img src="/static/index/images/pwd.png">
            </i><input class="pwd2" id="pwd2" type="password" placeholder="请输入确认密码"/></li>
        </ul>
        <div class="reg_btn">
            <button class="submit reg" type="button">注册</button>
            <a href="{:url('login/login')}"><div class="reg-login"><p>已有帐号，立即登陆</p></div></a>
        </div>
    </form>

    <div style="text-align:center;">
        <p  style="margin-top:40px;font-size:17px;text-align:center;color:#f2dede;font-weight:bold;">有任何疑问，请联系QQ：239487748
        </p>
    </div>
</div>

</body>
</html>
<script>
    $('.reg').click(function(){
       var zhu = {};

       zhu.orderNo = $('#orderNo').val();
       zhu.user    = $('#user').val();
       zhu.pwd     = $('#pwd').val();
       zhu.pwd2    = $('#pwd2').val();

      if(zhu.user == '' || zhu.user == undefined){
          layer.msg('用户名不能为空');
          return;
      }

      if(zhu.pwd == '' || zhu.pwd2 ==''){
          layer.msg('请输入您的注册密码');
          return
      }

      if(zhu.pwd != zhu.pwd2){
          layer.msg('两次输入密码不一致');
          return false;
      }

      check_user();

      var  url = "{:url('login/reg')}";
      $.post(url,zhu,function(ret){
           if(ret.code == 200){
               layer.msg(ret.msg,function(){
                   parent.location.href ="{:url('login/login')}";
               });

             if(ret.code == 400){
                 layer.msg(ret.msg);
                 return ;
             }

           }
      },'json')
    });


    function check_user(){
        var user = $('#user').val();

        var url = "{:url('login/check')}";
        $.post(url,{'user':user},function(ret){
            if(ret.code == 404){
                layer.tips(ret.msg,'#user');
                $('.reg').attr('disabled',true);
                return ;
            }

            if(ret.code == 200){
                layer.tips(ret.msg,'#user',{tips:[1,'#78BA32']});
            }
        },'json')
    }

</script>