{extend name='admin@public/content'}

{block name="content"}
<form class="layui-form layui-box modal-form-box" action="{:request()->url()}" data-auto="true" method="post">

    <div class="layui-form-item">
        <label class="layui-form-label">用户名</label>
        <div class="layui-input-block">
            <input type="text" name="users" value='{$vo.users|default=""}' disabled=""  class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">用户头像</label>
        <div class="layui-input-block">
            <input type="text" name="imgs" value='{$vo.imgs|default=""}' disabled=""   class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">用户等级</label>
        <div class="layui-input-block">
            <input type="text" name="level" value='{$vo.level|default=""}'  disabled=""  class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">用户状态</label>
        <div class="layui-input-block">
           {eq name='vo.status' value='1'}
            <button type="button" class="layui-btn  layui-btn-primary layui-btn-xs">正常</button>
            {else /}
            <button type="button" class="layui-btn  layui-btn-danger  layui-btn-xs">冻结</button>
            {/eq}
        </div>
    </div>

    <div class="hr-line-dashed"></div>

    <div class="layui-form-item text-center">
        {if isset($vo['id'])}<input type='hidden' value='{$vo.id}' name='id'>{/if}
<!--        <button class="layui-btn" type='submit'>保存数据</button>-->
        <!--        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>-->
    </div>
</form>
<script>
    require(['jquery', 'ckeditor'], function() {
        window.form.render();
        $('form [name="imgs"]').uploadOneImage();
        window.createEditor('[name="content"]', {height: 500});
    });
</script>


{/block}

