
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>完善资料-开始游戏</title>
    <!-- Bootstrap -->
    <link href="/static/index/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/index/css/common.css" media="screen, projection" />
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="/static/index/js/jquery.min.js"></script>
    <style type="text/css">
        .star{color:red}
    </style>

</head>
<body style="background: url(/static/index/images/pag.jpg) no-repeat;background-size: 200%, 100%;">
<div class="container-fluid">
    <nav class="navbar navbar-default navbar-fixed-bottom" style="background-color: #9c9ce0;">
        <div class="row">

            <div class="col-xs-3" style="width: 20%;">
                <div class="center-common">
                    <a href="{:url('index/index')}" style="color:#FFFFFF;font-size:13px;">
                        <div class="img-common">
                            <img class="banner-img" src="/static/index/images/home.png"></div>升级
                    </a>
                </div>
            </div>


            <div class="col-xs-3" style="width: 20%;">
                <div class="center-common">
                    <a href="{:url('member/pi')}" style="color:#FFFFFF;font-size:13px;">
                        <div class="img-common"><img class="banner-img" src="/static/index/images/pz.png"></div>批准
                    </a>
                </div>
            </div>

            <div class="col-xs-3" style="width: 20%;">
                <div class="center-common">
                    <a href="{:url('index/tui')}" style="color:#FFFFFF;font-size:13px;">
                        <div class="img-common"><img class="banner-img" src="/static/index/images/list.png"></div>互动
                    </a>
                </div>
            </div>

            <div class="col-xs-3" style="width: 20%;">
                <div class="center-common">
                    <a href="{:url('index/gui')}" style="color:#FFFFFF;font-size:13px;">
                        <div class="img-common"><img class="banner-img" src="/static/index/images/wf.png"></div>推广
                    </a>
                </div>
            </div>

            <div class="col-xs-3" style="width: 20%;">
                <div class="center-common">
                    <a href="{:url('member/index')}" style="color:#FFFFFF;font-size:13px;">
                        <div class="img-common"><img class="banner-img" src="/static/index/images/my.png"></div>我的
                    </a>
                </div>
            </div>


        </div>
    </nav>

    <form  enctype="multipart/form-data"  action="" method="post">
        <div class="row clearfix">
            <div class="col-xs-12">
                <div class="thumbnail hdiv-common" style="margin-right:-15px;margin-left:-15px;height:890px;text-align:center;background: url(../addons/jiexi_aaa/template/mobile/image/pag.jpg) no-repeat;background-size: 200%, 100%;">


                    <div style="margin-top:15px;">
                        <label class=""><span class="star">*</span>旧密码</label>
                        <input type="password" id="password" name="password_old" value="" class="formdd-control" placeholder="请输入旧密码（不修改默认为空）" style="width:80%;margin:0 auto;"></div>

                    <div style="margin-top:15px;">
                        <label class=""><span class="star">*</span>新密码</label>
                        <input type="password" id="password" name="password_new" value="" class="formdd-control" placeholder="请输入新密码（不修改默认为空）" style="width:80%;margin:0 auto;"></div>



                        <button type="submit"  class="btn bold-common" style="background:#00D13D;width:80%;color:#FFFFFF;height:55;font-size:16px;"id="click-safe">提交</button></div>

                </div>
            </div>
        </div>
    </form>
    <footer class="footer">
        <p>&nbsp;</p>
    </footer>
    <script>

    </script>
</html>


