<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>的一星下级</title>
    <!-- Bootstrap -->
    <link href="/static/index/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/index/css/common.css" media="screen, projection">
</head>
<body>
<div class="container-fluid">
    <nav class="navbar navbar-default navbar-fixed-bottom" style="background-color: #9c9ce0;">
        <div class="row">

            <div class="col-xs-3" style="width: 20%;">
                <div class="center-common">
                    <a href="{:url('index/index')}" style="color:#FFFFFF;font-size:13px;">
                        <div class="img-common">
                            <img class="banner-img" src="/static/index/images/home.png"></div>升级
                    </a>
                </div>
            </div>


            <div class="col-xs-3" style="width: 20%;">
                <div class="center-common">
                    <a href="{:url('member/pi')}" style="color:#FFFFFF;font-size:13px;">
                        <div class="img-common"><img class="banner-img" src="/static/index/images/pz.png"></div>批准
                    </a>
                </div>
            </div>

            <div class="col-xs-3" style="width: 20%;">
                <div class="center-common">
                    <a href="{:url('index/tui')}" style="color:#FFFFFF;font-size:13px;">
                        <div class="img-common"><img class="banner-img" src="/static/index/images/list.png"></div>推广
                    </a>
                </div>
            </div>

            <div class="col-xs-3" style="width: 20%;">
                <div class="center-common">
                    <a href="{:url('index/gui')}" style="color:#FFFFFF;font-size:13px;">
                        <div class="img-common"><img class="banner-img" src="/static/index/images/wf.png"></div>规则
                    </a>
                </div>
            </div>

            <div class="col-xs-3" style="width: 20%;">
                <div class="center-common">
                    <a href="{:url('member/index')}" style="color:#FFFFFF;font-size:13px;">
                        <div class="img-common"><img class="banner-img" src="/static/index/images/my.png"></div>我
                    </a>
                </div>
            </div>


        </div>
    </nav>
    <style>
    .sty1{border-top:1px dashed green;width:20%;}
    .sty2{border-top:1px dashed green;height:40px;line-height:40px;}
    #load-more{  margin: 20px auto;width: 30%;height: 40px;border-radius: 5px;background: green;text-align: center;line-height: 40px;font-size: 20px;color: #fff;cursor: pointer;margin-bottom: 50px;}
</style>
    <div class="row clearfix header-banner" style="background:green;">
        <div class="col-md-12">
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-12">
            <div class="center-common">
                <table class="table">
                    <tbody id="data-list-reg">
                    <tr>
                        <td class="sty1">
                            头像
                        </td>
                        <td class="sty2">
                            等级
                        </td>
                        <td class="sty2">手机</td>
                        <td class="sty2">
                            微信
                        </td>
                    </tr>
                    <tr>
                        <td class="sty1">
                            <a href=""> <img src="../addons/jiexi_aaa/template/mobile/image/blank.jpg" width="40" height="40" class="img-circle" /> </a>
                        </td>
                        <td class="sty2">
                            <!-- 2064/  -->
                            一星					    </td>
                        <td class="sty2"><a href="" style="color:blue">15910177707</a></td>
                        <td class="sty2">
                            <a href="" style="color:blue"> 15910177707 </a>
                        </td>
                    </tr>
                    <tr>
                        <td class="sty1">
                            <a href=""> <img src="../addons/jiexi_aaa/template/mobile/image/blank.jpg" width="40" height="40" class="img-circle" /> </a>
                        </td>
                        <td class="sty2">
                            <!-- 2062/  -->
                            二星					    </td>
                        <td class="sty2"><a href="" style="color:blue">18600578382</a></td>
                        <td class="sty2">
                            <a href="" style="color:blue"> 18600578382 </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <p>&nbsp;</p>
</footer>
</html>